header {
    background-color: rgb(185, 146, 221);
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    padding: 1em;
    font-size: 30px;
    margin-bottom: 20px;
   /* border-radius: 5px;
    transition: all ease 0.3;
    width: 15%;
    height: 60px;
    margin: 10px; */
}

h5{
    margin-top: 5px;
}

input {
    size: 30px;
    background-color: rgb(202, 174, 211);
    border: 40px;
    border-radius: 40px;
    border-bottom: 40px;
}

button {
    background-color: rgb(202, 174, 211);
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    transition: all ease 0.3s;
    width: 15%;
    margin: 10px;
}

button:hover{
    background-color: rgb(250, 200, 250);
}

.formulario{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 1em;
    border: 1px solid rgb(255, 255, 255);
}

input {
    border: 1px solid rgb(185, 146, 221);
    margin-top: 10px;
    padding: 3px;
}

.content{
    margin-top: 15px;
}

table {
    border-collapse: collapse;
    border: 1px solid red;
    width: 100%;
}

table th {
    background-color: rgb(7, 143, 255);
}

table th td{
text-align: left;
padding: 1px 5px;
}

.center {
    background-color: rgb(202, 174, 211);
}

body {
    background-color: rgb(158, 127, 187);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;

}