body { font: 12pt Arial;
background-color: rgb(67, 44, 88);
margin: 350px;
text-align: center; }

h1, h2, h3 { font-family: 'Pacifico', cursive; font-weight: normal;}

button { font-size: 12pt;
     padding: 30px;
    background-color: rgb(233, 179, 233); }
