
*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    background-color: #d4a2a2;
}
form{
    background-color: #dbbfbf;
    max-width: 500px;
    width: 70%;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}
form h3{
    text-align: left;
    color: #d4a2a2;
    font-family: 'Courier New', Courier, monospace;
}
form input[type=radio],
form input[type=checkbox]{
  width: 10%;
  height: 15px;
  border: 1px solid#dbbfbf;
  padding-left: 10px;
  margin: 10px 0;
}
form input[type=email],
form input[type=password]{
  width: 10%;
  height: 45px;
  border: 1px solid#dbbfbf;
  padding-left: 10px;
  margin: 10px 0;
}

form input[type=submit]{
    width: 25%;
    height: 35px;
    cursor: pointer;
    background: #dbbfbf;
    color: #dbbfbf;
    border: 0;
    border-radius: 20px;
    transition: 1s;
}
form input[type=reset]{
    width: 25%;
    height: 35px;
    cursor: pointer;
    background: #dbbfbf;
    color: #dbbfbf;
    border: 0;
    border-radius: 20px;
    transition: 1s;
}

form input[type=submit]:hover{
    background-color: #dbbfbf;
}
form input[type=text]:focus{
    outline: 0;
}
form input[type=password]:focus{
    outline: 0;
}
