h1 {
    color: rgb(74, 126, 172);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

body {
    background-color: rgb(181, 195, 226);
    text-align: center;
    line-height: 200%;
}

script {
   
}